<p>Oh Yeah,</p>

<p>You've been given admin rights. Now don't be malicious and start deleting crap. Use your new power with responsibility. </p>

<p><%= link_to "Login", "http://www.jumpsquares.net/users/sign_in" %> or refresh your browser to see the new admin settings in the Settings bar. The dashboard is my personal favorite. </p>

<p>Thanks for using JumpSquares,<br>
Kendrick Coleman<br>