<p>Hey <%= @requester %>,</p>

<p>Your request to see <strong><%= @apprequestname %></strong> added to the catalog has been completed.</p>

<p>Go create a new JumpSquare! <%= link_to "Login", "http://www.jumpsquares.net/users/sign_in" %></p>

<p>Thanks for using JumpSquares,<br>
Kendrick Coleman<br>