<p>Oh dang,</p>

<p>Your admin rights have been revoked. You are now just a regular old joe.</p>

<p>Keep on using JumpSquares! <%= link_to "Login", "http://www.jumpsquares.net/users/sign_in" %></p>

<p>Thanks for using JumpSquares,<br>
Kendrick Coleman<br>