<p>There's a new AppType request from <%= @requester %>.</p>

<p><%= @requester %> wants to see <strong><%= @apprequestname %></strong>.</p>

<p>Check out the request <%= link_to "AppType Requests", "http://www.jumpsquares.net/apptype_requests/" %></p>
