<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>JumpSquares</h2>

	JumpSquares version = 1.3<br>
	<br>
	JumpSquares was created because I had a problem. Whenever I logged into a remote locaton, a lab, and even my own environment, I couldn't 
	figure out where anything was. I was constantly sending off emails to see where certain applications were installed, or 
	I was launching the vSphere Client to figure out IP addresses or DNS names of the servers where those applications were hosted.
	<br><br>
	So I got the idea to create a landing page. JumpSquares is really a hybrid of a wiki and pinterest. JumpSquares allows any 
	user, developer, engineer, or administrator to access the page to figure out where everything is located. If someone installs 
	a new application, they can create a new JumpSquare so they can let everyone know where the application was installed.
	 <br><br>
	We've all been there before when you have zombie applications sprawling out all over the place. JumpSquares makes everyone 
	standardize on a single location as a "master copy" where they can access all web-based applications (and even do some SSH!).
	
	
  	</p>
  </body>
</html>
	