<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>Some help to get you started</h2>
    <br>
    <br>
    <p>
    	<br>
    	If you go to the AppTypes page, you will see a bunch of different kinds of applications. You can create your own applications as well if there isn't one listed. 
    	Make sure you have an AppType defined before you try to create a JumpSquare for it. You must select an AppType when creating a new JumpSquare. 
    	If you don't select an AppType, then the first available AppType will be selected by default.
    	<br>
    	<br>
	</p>
    <p>
    	<b>Why am I not seeing any JumpSquares?</b><br>
    	Hit "Create a New JumpSquare" button on the home page and fill out. The most important part is that you type the correct URL of where you want the link to be connected. 
    	
    </p>
    <br>
    <p>
    	<b>Why can I not remove an AppType?</b><br>
    	If you have JumpSquares configured using a specified AppType, then the link will not work. Make sure you have "0" JumpSquares of that specific app type before you try to delete it.
    	
  	</p>
  	<br>
	<p>
    	<b>Why does the search only work on one page?</b><br>
    	Well in fact, the search works on both the JumpSquares page, as well as the AppTypes Page. The search function will only search through items on the page you are viewing. Keep it simple, ya know...
    	
  	</p>
  	
  </body>
</html>