<div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
			<center>	
				<p>
				  <strong><%= @nmapfile.nmapfilename %> successfully uploaded!</strong>
				</p>
				<p><br><br>
				</p>
				<%= link_to 'View Nmap Scans', nmapfiles_path %> | 
				<%= link_to 'Home', :root %>
			</center>
			</div>
		</div>
	</div>
