<div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="bs-example">
              <div class="jumbotron"> 
				
				<p>Welcome to JumpSquares <%= @email %>!</p>
				
				<p>You have 5 days to confirm your account email through the link below. If you do not confirm your account then your token will expire.</p>
				
				<p>Please <%= link_to 'Confirm your account', confirmation_url(@resource, :confirmation_token => @token) %> to keep using JumpSquares.net</p>
				
				<p>We're glad to have ya,<br>
					Kendrick Coleman<br>
			 </div>
			</div>
		  </div>
</div>
