
<footer class="footer">	 
          <div class="col-lg-12">
			  <small>
			    <a href="http://kendrickcoleman.com/index.php/Ruby-on-Rails-Projects/jumpsquares-a-new-kind-of-bookmark.html">JumpSquares</a>
			    by Kendrick Coleman
			  </small>
			  <nav>
			    <ul>
			       <ul class="nav pull-right">
			       		<li><%= link_to "About",   :about %></li>
			       	</ul>
			      <ul class="nav pull-right">
			      		<li><%= link_to "Contact", :contact %></li>
			      	</ul>
			    </ul>
			  </nav>
		</div>		
</footer>
